<h1>Editing Admin Student Challenge</h1>

<%= render 'form', student_challenge: student_challenge %>

<%= link_to 'Show', managers_student_challenges_path(student_challenge) %> |
<%= link_to 'Back', managers_student_challenges_path %>
