<%= form_with(model: manager_student_challenge, local: true) do |form| %>
  <% if manager_student_challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manager_student_challenge.errors.count, "error") %> prohibited this manager_student_challenge from being saved:</h2>

      <ul>
        <% manager_student_challenge.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
